* {
  margin: 0;
  padding: 0;
  color: #1b1c21;
  font-family: 'TT Lakes', 'Times New Roman', sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'TT Lakes', 'Times New Roman', sans-serif;
  height: 100%;
  overflow-x: hidden;
}
input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
}
button {
  cursor: pointer;
  border: none;
}
body::-webkit-scrollbar {
  display: none;
}
