.prices {
  background-color: #f8f8f8;
  max-width: 1120px;
}
.title-prices {
  border-top: 1px solid #d9fff5;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
  padding: 16px 24px;
}
.title-prices__h1 {
  color: #7e7e82;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.price-description {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.price-description__text {
  max-width: 421px;
}
.price-description__button {
  background-color: inherit;
  border: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.price-description__button::after {
  position: absolute;
  content: url('../img/icons/line.svg');
  right: -15px;
  top: 0;
}
@media screen and (min-width: 1120px) {
  .prices {
    transform: translate(320px, 0);
  }
}
