.swiper-brands-container {
  min-width: 320px;
}
.swiper-brands-title {
  border-top: 1px solid #d9fff5;
  padding: 16px;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
}
.swiper-brands-title__text {
  color: #7e7e82;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px 24px;
  padding: 24px 24px 0 24px;
}
.swiper-slide {
  padding: 0 16px;
  max-width: 224px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide__img {
  height: auto;
  width: auto;
  display: block;
}
.swiper-slide__img:hover {
  transform: scale(1.05);
}
.swiper-slide__button {
  background: #ffffff url('../img/icons/go.svg') no-repeat;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}
.swiper-slide__button:hover {
  filter: hue-rotate(235deg);
  transform: scale(1.1);
}
.swiper-pagination {
  position: relative;
  margin-top: 20px;
  display: block;
}
.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #dddddd;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.read-more {
  display: none;
  padding: 24px;
  align-items: center;
  cursor: pointer;
}

.read-more__button {
  position: relative;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
}

.read-more__button::before {
  content: url('../img/icons/expand.svg');
  position: absolute;
  left: -30px;
  top: -3.5px;
  transition: transform 200ms linear;
}
.read-more__button--active::before {
  transform: rotate(180deg) translate(0, 3.5px);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1119.9px) {
  .read-more {
    display: flex;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .swiper-brands-container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .read-more {
    display: flex;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
  }
  .swiper-pagination {
    display: none;
  }
}
