$title-border-color: #d9fff5;
$slide-border-color: #eaeaea;
$smoke: #f8f8f8;
$white: #ffffff;
$smoke-text-color: #7e7e82;
$primary-buttons-color: #ff3e79;
$primary-buttons-filter: hue-rotate(235deg);

.swiper-price-title {
  border-top: 1px solid $title-border-color;
  background: linear-gradient(90deg, $smoke, $white);
  padding: 16px 24px;

  &__text {
    color: $smoke-text-color;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.swiper-slide {
  &--price {
    min-height: 200px;
    min-width: 260px;
  }

  &__button--price {
    position: absolute;
    right: 16px;
    bottom: 16px;
    background: none;
    color: $white;
    background-color: $primary-buttons-color;
    height: 32px;
    width: 119px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: auto;
    transition: transform 100ms ease;
    font-size: 12px;

    &::after {
      content: url('../img/icons/dropdown.svg');
      margin-left: 10px;
    }

    &:hover {
      filter: $primary-buttons-filter;
      transform: scale(1.05);
    }
  }
}

.price-services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.price-sevices__text--services::before {
  content: 'Ремонтные услуги';
  color: $smoke-text-color;
  display: block;
}
.price-sevices__text--cost::before {
  content: 'Цена';
  color: $smoke-text-color;
  display: block;
}
.price-sevices__text--time::before {
  content: 'Срок';
  color: $smoke-text-color;
  display: block;
}

.price-description {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  &__text {
    max-width: 421px;
  }

  &__button {
    font-size: 16px;
    font-weight: bold;
    position: relative;

    &:hover {
      filter: opacity(0.8);
      color: $primary-buttons-color;
    }

    &::after {
      position: absolute;
      content: url('../img/icons/line.svg');
      right: -15px;
      top: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .swiper-wrapper--prices {
    padding: 0 20px 0 0;
    display: table;
    border-collapse: separate;
    margin-top: 60px;
    margin-left: 25px;
    max-width: 970px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  .swiper-slide--price {
    display: table-row;
    height: 64px;
  }
  .price-services {
    border-top: 1px solid $slide-border-color;
    display: flex;
    flex-direction: row;

    &--table-header {
      border-top: none;
    }

    &__text {
      display: table-cell;
      padding: 23px 16px;
    }
  }
  .price-sevices__text--services {
    margin-right: auto;
  }
  .price-sevices__text--cost {
    position: absolute;
    left: 50%;
  }
  .price-sevices__text--time {
    position: absolute;
    right: 20%;
  }
  .price-sevices__text--cost::before,
  .price-sevices__text--services::before,
  .price-sevices__text--time::before {
    display: none;
  }
  .price-table-header::before {
    position: absolute;
    display: block;
    top: -35px;
  }
}
